.waveform-container {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 5px;
    position: relative;
  }
  
  .waveform {
    width: calc(100% - 20px); /* Subtract the button width */
    margin-left: 5px; /* Add some margin to the left to create space for the button */
    margin-right: 5px; /* Add some margin to the right to create space for the button */
    height: 100px;
  }
  .waveform1-container {
    display: flex;
    align-items: center;
    height: 200px;
    margin-right: 5px;
    position: relative;
  }
  
  .waveform1 {
    width: calc(100% - 20px); /* Subtract the button width */
    margin-left: 5px; /* Add some margin to the left to create space for the button */
    margin-right: 5px; /* Add some margin to the right to create space for the button */
    height: 200px;
  }
  .waveform ::part(region-handle-right) {
    border-right-width: 4px !important;
    border-right-color: #FF6B35 !important;
  }

  .segment-button-container {
    width: 20px;
    display: flex;
    justify-content: center;
  }
  .track1placeholder {
    width: 20px; /* Fixed width for the placeholder */
    height: 100%; /* Ensure it takes up the full height */
  }
  .segmentbutton {
    writing-mode: vertical-rl; /* Rotate the button text vertically */
    transform: rotate(180deg); /* Correct the text orientation */
    height: 100px; /* Adjust as needed */
    padding: 5px; /* Add padding to the button */
    background-color: #1A659E; /* Set a background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    cursor: pointer; /* Add a pointer cursor on hover */
    margin:0;
  }
  
  .segmentbutton:hover {
    background-color: #004E89; /* Change the background color on hover */
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .navbar {
    background-color: #1A659E;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input[type="file"] {
    margin: 10px 0;
  }
  
  textarea {
    width: 100%;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1A659E;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004E89;
  }
  
  #editor-prompt-small-segment .CodeMirror {
    background-color: #1a659e8c;
  }
  #editor-prompt-big-segment .CodeMirror {
    background-color: #1a659e8c;
  }
  .segments-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .segment-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  hr {
    border: 1px solid #ccc; /* Customize the line color */
    width: 100%; /* Make the line span the full width of the container */
  }  
  .savebutton {
    padding: 10px 20px;
    background-color: #FF6B35;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  .savebutton:hover {
    background-color: #F7C59F;
  }
  .control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .left-button {
    margin-right: auto;
  }
  
  .center-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .zoom-label {
    display: flex;
    align-items: center;
    transform: translateY(10px);
  }
  
  .right-button {
    margin-left: auto;
  }
  