<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Linking CSS file -->
  <label>
    Zoom: <input type="range"  min="100" max="500" value="200" />
  </label>
  <button id="play-pause-btn">Play/pause</button>
  <div>
    <input type="file" id="subtitle-file" accept=".json"/>
    <button id="load-subtitles-btn">Load Transcription</button>
  </div>
  
  <div class="waveform1-container">
    <div class="segment-button-container">
      <div class="track1placeholder"></div>
    </div>
    <div id="waveform1" class="waveform1"></div>
  </div>
  
  <div class="waveform-container">
    <div class="segment-button-container">
      <button id="addSegmentBtn2" class="segmentbutton">+ segment</button>
    </div>
    <div id="waveform2" class="waveform"></div>
  </div>

  <script type="module" src="{{ url_for('static', filename='js/duration_and_pause.js') }}"></script>
</html>