<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Linking CSS file -->
  <label>
    Zoom: <input type="range" min="0" max="1000" value="100" />
  </label>
  <button id="play-pause-btn">Play/pause</button>
  <div>
    <input type="file" id="subtitle-file" accept=".json"/>
    <button id="load-subtitles-btn">Load Transcription</button>
  </div>
  <div id="waveform1"></div>
  <div id="waveform2"></div>
  <button id="addSegmentBtn">Add a segment at current time</button>

  <script type="module" src="{{ url_for('static', filename='js/test0513.js') }}"></script>
</html>